telethon
python-decouple
python-dotenv
akinator
apscheduler
aiohttp
bs4
enhancer>=0.3.4
git+https://github.com/New-dev0/instagrapi.git@39df1b1#egg=instagrapi
git+https://github.com/buddhhu/img2html.git@c44170d#egg=img2html
heroku3
gitpython
google-api-python-client
htmlwebshot
lottie
lxml
numpy>=1.21.2
oauth2client
opencv-python-headless
pillow>=7.0.0
profanitydetector
psutil
pypdf2>=1.26.0
pytz
qrcode
requests
tabulate
telegraph
tgcrypto
fastapi==0.74.*
uvicorn[standard]==0.17.*
nest_asyncio
loguru
pydantic
requests
python-dotenv
git+https://github.com/KurimuzonAkuma/pyrogram.git@v2.1.19
asyncio
TgCrypto
telethon
aiologger
aiofiles
bs4
cinemagoer
edge-tts
emoji
geopy
git-python
glitch_this
googlesearch-python
googletrans @ git+https://github.com/HellBoy-OP/py-googletrans
heroku3
httpx
icrawler
lottie
lyricsgenius
motor
pillow
psutil
pyroaddon
pySmartDL
pytz
selenium
speedtest-cli
telegraph
tgcrypto
Unidecode
wikipedia
yt-dlp @ git+https://github.com/HellBoy-OP/yt-dp-fork
